html { font-size: 62.5%;}

// flexbox mixin
@mixin flex () {
    display: flex;
}
@mixin direction ($direction: row) {
    flex-direction: $direction;
}
@mixin align ($align: flex-start) {
    align-items: $align;
}
@mixin justify ($justify: flex-start) {
    justify-content: $justify;
}
// プレースフォレダーセレクタ
%decoration {
    width: 5px;
    height: 5px;
    position: absolute;
    content: "";
    border: 1px solid brown;
    background-color: rgb(180, 125, 125);
    transform: rotate(-45deg);
}
%p-title {
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 15px 0px 5px;
    margin-left: 20px;
    position: relative;
    &::before {
        @extend %decoration;
        bottom: 10px;
        left: -15px;
    }
}
html { font-size: 62.5%;}

// flexbox mixin
@mixin flex () {
    display: flex;
}
@mixin direction ($direction: row) {
    flex-direction: $direction;
}
@mixin align ($align: flex-start) {
    align-items: $align;
}
@mixin justify ($justify: flex-start) {
    justify-content: $justify;
}
// プレースフォレダーセレクタ
%decoration {
    width: 5px;
    height: 5px;
    position: absolute;
    content: "";
    border: 1px solid brown;
    background-color: rgb(180, 125, 125);
    transform: rotate(-45deg);
}
%p-title {
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 15px 0px 5px;
    margin-left: 20px;
    position: relative;
    &::before {
        @extend %decoration;
        bottom: 10px;
        left: -15px;
    }
}
/*------------------------contact------------------------*/
.contact {
    width: 100vw;
    height: 100vh;
    font-family: 'M PLUS 1p', sans-serif;
    color: rgb(94, 42, 29);
    background-image: url("../img/marble-4145542_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    @include flex
    @include direction(column)
    @include align (center)
    @include justify (center)
    &__title {
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.5;
        border-bottom: 1.5px solid rgb(179, 152, 115);
        padding: 20px 10px 5px;
        margin-bottom: 20px;
        position: relative;
        &::before {
            bottom: -5px;
            left: -8px;
            @extend %decoration;
        }
        &:after {
            bottom: -5px;
            right: -8px;
            @extend %decoration;
        }
    }
    &__data {
        width: 80vw;
        @include flex
        @include direction(column)
        @include align (flex-start)
        @include justify (center)
    }
    &__dateTitle {
        @extend %p-title;
    }
    &__dateValue {
        font-size: 1.6rem;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 15px 0px 5px;
    }

}