html { font-size: 62.5%;}

// flexbox mixin
@mixin flex ($direction: row, $align: flex-start, $justify: flex-start) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
// プレースフォレダーセレクタ
%decoration {
    width: 5px;
    height: 5px;
    position: absolute;
    content: "";
    border: 1px solid brown;
    background-color: rgb(180, 125, 125);
    transform: rotate(-45deg);
}
%p-title {
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 15px 0px 5px;
    margin-left: 20px;
    position: relative;
}
/*------------------------contact------------------------*/
.contact {
    width: 100vw;
    height: 100vh;
    font-family: 'M PLUS 1p', sans-serif;
    color: rgb(94, 42, 29);
    background-image: url("../img/marble-4145542_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    @include flex(column, center, center);
    &__title {
        font-size: 3rem;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.5;
        border-bottom: 1.5px solid rgb(179, 152, 115);
        padding: 20px 10px 5px;
        margin-bottom: 20px;
        position: relative;
        &::before {
            bottom: -5px;
            left: -8px;
            @extend %decoration;
        }
        &:after {
            bottom: -5px;
            right: -8px;
            @extend %decoration;
        }
    }
    &__data {
        width: 80vw;
        padding-bottom: 25px;
        @include flex(column, center, center);
    }
    &__dateTitle {
        font-size: 2.5rem;
        text-align: center;
        @extend %p-title;
    }
    &__dateValue {
        font-size: 1.6rem;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 15px 0px 5px;
    }
    &__button {
        color: #ffffff;
        font-size: 1.8rem;
        text-decoration: none;
        letter-spacing: 1px;
        background-color: rgb(179, 152, 115);
        border: 2px solid rgb(241, 227, 209);
        border-radius: 10px;
        padding: 15px 40px;
        margin: 0px 10px;
        transition: all ease 0.5s;
        &:hover {
            color: brown;
            font-weight: bold;
            letter-spacing: 1px;
            border: 2px solid rgb(179, 152, 115);
            background-color: rgb(241, 227, 209);
        }
    }
}
